/* Login */
button,input,div{
  outline: none;
  overflow: hidden;
}
form#loginForm{
  margin:200px auto;
}

.box-login-panel{
  background-color: blueviolet;
}
input.input-pass::placeholder{
  font-weight: bolder;
  color:white;
}
input.input-pass{
  width: 100%;
  background: inherit;
  border:none;
  color:white;
  text-align: center;
  outline: inherit;
  padding: 10px 0px;
}
.box-number-button button{
  width:100%;
  padding:10px 10px;
  border:none;
}
.numeritic button{
  background-color: brown;
  color:white;
}
.setter button{
  background-color: darkblue;
  color:white;
}
/* Login */

/* Sell */
#category{
  background-color: khaki;
}
#category button{
  display: block;
  overflow: hidden;
  width: 100%;
  padding:80px 0px;
}

#menus{
  overflow: auto;
  height:440px;
  /* border:solid 1px red; */
}
#menus button{
  width:100%;
  border:none;
  /* outline: inherit; */
}
#menus button:hover{
  background-color: khaki;
}

#static-menu button{
  width:100%;
  display: block;
  padding:30px 10px;
  border:none;
  text-align: center;
}
#tabs button{
  width:100%;
  display: block;
  padding: 10px 0px;
  border:none;
}
#price-total{
  font-size:36px;
  font-weight: bolder;
}
.wall{
  overflow:auto;
  max-height: 500px;
  width: 100%;
}


/* Buttons Padding */
@media only screen and (max-width: 1500px) {
  #static-menu button{
    padding:18px 10px;
  }
  #category button{
    padding:58px 0px;
  } 
}

@media only screen and (max-width: 1300px) {
  .wall{
    max-height: 250px;
  }
  button,table{
    font-size: 8px;
  }
  #static-menu button{
    padding:3px 5px;
  }
  #category button{
    padding:31px 0px;
  } 
  #static-menu button{
    padding: 13px 0px;
  }
}
/* Buttons Padding */
